.block-list {
    position: relative;
    margin-top: 20px;
}

.block-list h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid #ebedf0;
}

.modify-label {
    margin-right: 10px;
}

.status-icon {
    display: inline-block;
    margin-right: 6px;
    width: 8px;
    height: 8px;

    border-radius: 50%;
}

.disable {
    background: rgba(154, 168, 184, 1);
}

.available {
    background: rgba(109, 210, 48, 1);

}
